/* Story */

#newProject.story .content { z-index: 1; width: 100%; display: flex; position: absolute; bottom: 150px; left: 0; flex-direction: row-reverse; padding: 0 60px; box-sizing: border-box; } 
#newProject.story .data { max-width: 100%; display: flex; justify-content: flex-end; padding: 0; box-sizing: border-box; align-items: flex-end; flex-direction: column; } 
#newProject.story .data p { font-weight: 600; font-size: 20px; border: 2px solid white; margin: 2px; padding: 2px 10px; } 
#newProject.story footer { flex: 1; } 
#newProject.story footer .endereco { display: flex; flex-wrap: wrap; width: 100%; align-items: center; justify-content: center; } 
#newProject.story footer .endereco p { margin: 0; font-weight: 700; font-size: 21px; line-height: 21px; } 


/* Culto da Palavra */

#newProject.feed .modelo#palavra .content { justify-content: flex-start; z-index: 1; width: 360px; display: flex; margin-left: 460px; } 
#newProject.feed .modelo#palavra .mask { background: url('../imgs/feed/CultoDaPalavra.png'); background-size: cover; position: absolute; top: -2px; left: 0; width: 100%; height: 100%; } 
#newProject.feed .modelo#palavra { flex-direction: column; padding: 50px 70px; box-sizing: border-box; justify-content: center; position: relative; } 
#newProject.feed .modelo#palavra .data { max-width: 100%; display: flex; justify-content: flex-end; padding: 20px; box-sizing: border-box; align-items: flex-start; flex-direction: column; } 
#newProject.feed .modelo#palavra .data p { font-weight: 600; font-size: 30px; border: 2px solid white; margin: 2px; padding: 5px 10px; max-width: 270px; max-height: 33px; line-height: 36px; align-items: center; display: flex; } 

#newProject.story .modelo#palavra .content { z-index: 1; width: 100%; display: flex; position: absolute; bottom: 105px; left: 0; flex-direction: column; padding: 0; max-width: 560px; } 
#newProject.story .modelo#palavra .data { max-width: 100%; display: flex; justify-content: center; padding: 0 83px; box-sizing: border-box; align-items: center; flex-direction: column; width: 100%; } 
#newProject.story .modelo#palavra .data p { font-weight: 600; font-size: 23px; border: 2px solid white; margin: 2px; padding: 2px 10px; width: 100%; text-align: center; } 
#newProject.story .modelo#palavra .mask { background: url('../imgs/story/CultoDaPalavra.png'); } 
#newProject.story .modelo#palavra footer { width: 100%; } 
#newProject.story .modelo#palavra footer .endereco p { margin: 0; font-weight: 700; font-size: 21px; line-height: 34px; max-width: 390px; } 

/* Culto da Família */

#newProject .modelo#familia .mask { background: url('../imgs/feed/CultoFamilia.png'); background-size: cover; position: absolute; top: 0; left: 0; width: 100%; height: 100%; } 
#newProject .modelo#familia { flex-direction: column; padding: 50px 70px; box-sizing: border-box; justify-content: center; position: relative; } 
#newProject .modelo#familia .data { overflow: hidden; max-width: 220px; padding: 0; display: flex; flex-direction: column; align-items: flex-end; } 
#newProject .modelo#familia .data p { margin: 0; font-weight: 600; font-size: 30px; text-align: right; line-height: 28px; } 
#newProject .modelo#familia footer { position: absolute; bottom: 20px; left: 100px; } 
#newProject .modelo#familia footer .endereco p { margin: 0; font-weight: 700; font-size: 28px; } 
#newProject .modelo#familia .row { width: 100%; display: flex; padding: 20px 40px; margin-top: 210px; justify-content: space-between; } 
#newProject .modelo#familia .autores { display: flex; flex: 2; align-items: center; } 
#newProject .modelo#familia .autores p { font-size: 24px; margin: 0; line-height: 24px; padding: 5px 10px; font-weight: 700; max-height: 28px; display: flex; align-items: center; justify-content: center; } 
#newProject .modelo#familia .autores .nomes { display: flex; border: 2px solid; padding: 5px; height: fit-content; max-width: 370px; overflow: hidden; } 
#newProject .modelo#familia .data p { font-weight: 600; font-size: 30px; margin: 0; padding: 0; line-height: 34px; } 

#newProject.story .modelo#familia .mask { background: url('../imgs/story/CultoFamilia.png'); } 
#newProject.story .modelo#familia .content { position: absolute; left: 0; bottom: 100px; width: 100%; padding: 0 60px 40px 60px; box-sizing: border-box; flex-direction: column; } 
#newProject.story .modelo#familia .autores { display: flex; flex: 2; align-items: center; width: 100%; border: none; margin-bottom: 5px; } 
#newProject.story .modelo#familia .row { width: 100%; display: flex; padding: 0; margin-top: 230px; justify-content: center; flex-direction: column; } 
#newProject.story .modelo#familia .autores .nomes { max-width: 100%; display: flex; border: 2px solid; padding: 0px 0; height: fit-content; justify-content: center; width: 100%; } 
#newProject.story .modelo#familia .autores p { max-width: 100%; font-size: 22px; margin: 0; line-height: 24px; padding: 5px; font-weight: 700; max-height: 22px; overflow: hidden; } 
#newProject.story .modelo#familia .data { margin-right: 60px; max-width: 100%; padding: 0; display: flex; flex-direction: row; bottom: 0; width: 100%; border: 2px solid; align-items: center; justify-content: center; } 
#newProject.story .modelo#familia .data p { margin: 0; padding: 0; border: none; line-height: 28px; } 
#newProject.story .modelo#familia .data p:first-child { font-size: 20px; font-weight: 600; } 
#newProject.story .modelo#familia footer { left: 53px; position: absolute; bottom: 95px; width: 420px; text-align: center; align-items: center; justify-content: center; display: flex; } 
#newProject.story .modelo#familia footer .endereco p { margin: 0; font-weight: 700; font-size: 21px; line-height: 21px; } 


/* Culto da Vitória */

#newProject .modelo#vitoria .content { position: absolute; left: 0; bottom: 100px; width: 100%; padding: 0 0 0 120px; box-sizing: border-box; } 
#newProject .modelo#vitoria .mask { background: url('../imgs/feed/CultoDaVitoria.png'); background-size: cover; position: absolute; top: 0; left: 0; width: 100%; height: 100%; } 
#newProject .modelo#vitoria { flex-direction: column; padding: 50px 70px; box-sizing: border-box; justify-content: center; position: relative; } 
#newProject .modelo#vitoria .data { margin-right: 105px; max-width: 100%; padding: 0; display: flex; flex-direction: column; align-items: flex-end; margin-bottom: 25px; } 
#newProject .modelo#vitoria .data p { margin: 0; font-weight: 600; font-size: 30px; text-align: right; line-height: 28px; } 
#newProject .modelo#vitoria .data p:first-child { font-size: 44px; font-weight: 600; max-height: 49px; line-height: 49px; } 
#newProject .modelo#vitoria .data p:last-child { font-size: 22px; margin-top: 10px; max-width: 240px; max-height: 34px; } 
#newProject .modelo#vitoria .row { width: 100%; display: flex; padding: 20px 0px; justify-content: space-between; position: absolute; bottom: 55px; } 
#newProject .modelo#vitoria .autores { display: flex; flex: 2; align-items: center; } 
#newProject .modelo#vitoria .autores p { font-size: 21px; margin: 0; font-weight: 700; max-width: 100%; max-height: 28px; padding: 0 5px; } 
#newProject .modelo#vitoria .autores .nomes { display: flex; border: 2px solid; padding: 10px 0; height: fit-content; justify-content: center; } 
#newProject .modelo#vitoria .data p { font-weight: 600; font-size: 30px; margin: 0; padding: 0; line-height: 28px; } 
#newProject .modelo#vitoria footer { left: 120px; } 

#newProject.story .modelo#vitoria .mask { background: url('../imgs/story/CultoDaVitoria.png'); } 
#newProject.story .modelo#vitoria .content { position: absolute; left: 0; bottom: 130px; width: 100%; padding: 0 60px; box-sizing: border-box; flex-direction: column; display: flex; } 
#newProject.story .modelo#vitoria .autores { display: flex; flex: 2; align-items: center; width: 100%; border: none; margin-bottom: 5px; } 
#newProject.story .modelo#vitoria .autores .nomes { display: flex; border: 2px solid; height: fit-content; justify-content: center; width: 100%; padding: 5px 5px; } 
#newProject.story .modelo#vitoria .autores p { font-size: 20px; margin: 0; font-weight: 700; } 
#newProject.story .modelo#vitoria .data { margin-right: 60px; max-width: 100%; padding: 5px; display: flex; flex-direction: row; align-items: center; margin: 0; justify-content: center; top: 50px; right: 0; width: 100%; border: 2px solid; } 
#newProject.story .modelo#vitoria .data p { margin: 0; padding: 0; border: none; line-height: 28px; } 
#newProject.story .modelo#vitoria .data p:first-child { font-size: 25px; font-weight: 600; max-width: 140px; max-height: 36px; display: none; } 
#newProject.story .modelo#vitoria .data p:last-child { font-size: 19px; max-width: 100%; max-height: 30px; } 
#newProject.story .modelo#vitoria footer { left: 53px; position: absolute; bottom: 90px; width: 420px; display: flex; align-items: center; justify-content: center; } 
#newProject.story .modelo#vitoria footer .endereco { text-align: left; display: flex; align-items: flex-start; justify-content: flex-start; } 
#newProject.story .modelo#vitoria footer .endereco p { margin: 0; font-weight: 700; font-size: 21px; line-height: 21px; max-height: 21px; width: 100%; text-align: center; } 
 


/* Culto da Celebracao */

#newProject .modelo#celebracao .content { display: flex; justify-content: space-between; position: absolute; left: 0; bottom: 110px; width: 100%; padding: 0 0 0 120px; box-sizing: border-box; align-items: center; } 
#newProject .modelo#celebracao .mask { background: url('../imgs/feed/CultoDeCelebracao.png'); background-size: cover; position: absolute; top: 0; left: 0; width: 100%; height: 100%; } 
#newProject .modelo#celebracao { flex-direction: column; padding: 50px 70px; box-sizing: border-box; justify-content: center; position: relative; } 
#newProject .modelo#celebracao .pr { margin-right: 105px; max-width: 100%; padding: 0; display: flex; flex-direction: column; align-items: flex-end; margin-bottom: 0; } 
#newProject .modelo#celebracao .pr p { font-weight: 600; margin: 0; padding: 0; line-height: 28px; } 
#newProject .modelo#celebracao .pr p:first-child { font-size: 26px; max-width: 220px; font-weight: 600; max-height: 80px; display: flex; line-height: initial; align-items: flex-end; text-align: right; } 
#newProject .modelo#celebracao .row { width: 100%; display: flex; padding: 20px 0px; justify-content: space-between; position: absolute; bottom: 55px; } 
#newProject .modelo#celebracao .data p { max-width: 380px; font-size: 30px; margin: 0; padding: 0; font-weight: 600; max-height: 38px; } 
#newProject .modelo#celebracao .data { display: flex; align-items: center; } 
#newProject .modelo#celebracao .data .nomes { display: flex; border: 2px solid; padding: 10px; height: fit-content; justify-content: center; } 
#newProject .modelo#celebracao .pr p { font-weight: 600; font-size: 30px; margin: 0; padding: 0; line-height: 28px; } 
#newProject .modelo#celebracao footer { left: 120px; } 

#newProject.story .modelo#celebracao .mask { background: url('../imgs/story/CultoDeCelebracao.png'); } 
#newProject.story .modelo#celebracao .content { display: flex; justify-content: space-between; position: absolute; left: 0; bottom: 120px; width: 100%; padding: 0 70px; box-sizing: border-box; align-items: flex-start; flex-direction: column-reverse; } 
#newProject.story .modelo#celebracao .data { display: flex; align-items: center; width: 100%; } 
#newProject.story .modelo#celebracao .data .nomes { border: none; display: flex; padding: 10px; height: fit-content; justify-content: center; width: 100%; } 
#newProject.story .modelo#celebracao .data p { font-size: 20px; margin: 0; line-height: 0; padding: 15px 10px; font-weight: 600; width: 100%; text-align: center; } 
#newProject.story .modelo#celebracao .pr { margin-left: 0; max-width: 100%; padding: 0; display: flex; flex-direction: column; align-items: flex-start; margin: 0; width: 100%; box-sizing: border-box; } 
#newProject.story .modelo#celebracao .pr p:first-child { font-size: 24px; font-weight: 600; } 
#newProject.story .modelo#celebracao .pr p:last-child { font-size: 22px; max-width: 100%; width: 100%; border: 2px solid; padding: 5px 10px; font-weight: 600; width: 100%; box-sizing: border-box; display: flex; align-items: center; justify-content: center; } 
#newProject.story .modelo#celebracao footer { left: 0; bottom: 80px; position: absolute; display: flex; flex-direction: column; width: 100%; margin: 0 auto; } 
#newProject.story .modelo#celebracao footer .endereco { display: flex; flex-wrap: wrap; margin: 0 auto; } 
#newProject.story .modelo#celebracao footer .endereco p { margin: 5px; font-weight: 700; font-size: 21px; line-height: 36px; } 

/* Culto EBD */

#newProject .modelo#ebd .content { display: flex; justify-content: space-between; padding-left: 40px; width: 100%; box-sizing: border-box; align-items: center; margin-bottom: 30px; } 
#newProject .modelo#ebd .mask { background: url('../imgs/feed/CultoEBD.png'); background-size: cover; position: absolute; top: 0; left: 0; width: 100%; height: 100%; } 
#newProject .modelo#ebd { flex-direction: column; padding: 50px 70px; box-sizing: border-box; justify-content: center; position: relative; } 
#newProject .modelo#ebd .row { width: 100%; display: flex; padding: 20px 0px; justify-content: space-between; position: absolute; bottom: 55px; } 
#newProject .modelo#ebd .data p { font-size: 30px; margin: 0; font-weight: 600; max-width: 360px; max-height: 38px; } 
#newProject .modelo#ebd .data { display: flex; align-items: center; } 
#newProject .modelo#ebd .data .nomes { display: flex; border: 2px solid; padding: 15px; height: fit-content; justify-content: center; } 

#newProject.story .modelo#ebd .mask { background: url('../imgs/story/CultoEBD.png'); } 
#newProject.story .modelo#ebd .content { display: flex; justify-content: space-between; padding-left: 40px; width: 100%; box-sizing: border-box; align-items: center; margin-bottom: 30px; height: 100%; top: 0; } 
#newProject.story .modelo#ebd .data { display: flex; align-items: center; border: none; position: absolute; bottom: 160px; left: 0; width: 100%; } 
#newProject.story .modelo#ebd .data .nomes { display: flex; border: navajowhite; padding: 0px; height: fit-content; justify-content: center; } 
#newProject.story .modelo#ebd .data p { font-size: 34px; font-weight: 600; max-height: 42px; padding: 5px 40px; } 
#newProject.story .modelo#ebd footer { flex: 1; position: absolute; bottom: 100px; left: 0; width: 100%; } 
#newProject.story .modelo#ebd footer .endereco { display: flex; flex-wrap: wrap; margin: 0 auto; } 
#newProject.story .modelo#ebd footer .endereco p { margin: 5px; font-weight: 700; font-size: 21px; line-height: 36px; } 

/* Culto da Oração */

#newProject .modelo#oracao .mask { background: url('../imgs/feed/CultoDeOracao.png'); background-size: cover; position: absolute; top: 0; left: 0; width: 100%; height: 100%; } 
#newProject .modelo#oracao { flex-direction: column; padding: 50px 70px; box-sizing: border-box; justify-content: center; position: relative; } 
#newProject .modelo#oracao .data { max-width: 100%; padding: 0; display: flex; flex-direction: column; align-items: flex-end; } 
#newProject .modelo#oracao .data p { margin: 0; font-weight: 600; font-size: 30px; text-align: right; line-height: 28px; } 
#newProject .modelo#oracao footer { position: absolute; bottom: 20px; left: 100px; } 
#newProject .modelo#oracao footer .endereco p { margin: 0; font-weight: 700; } 
#newProject .modelo#oracao .row { width: 100%; display: flex; padding: 20px 90px; margin-top: 170px; justify-content: space-between; } 
#newProject .modelo#oracao .autores { display: flex; flex: 2; } 
#newProject .modelo#oracao .autores p { font-size: 30px; margin: 0; max-width: 350px; max-height: 45px; overflow: hidden; font-weight: 700; } 
#newProject .modelo#oracao .autores .nomes { display: flex; border: 2px solid; padding: 5px; height: fit-content; } 
#newProject .modelo#oracao .data p { font-weight: 600; font-size: 30px; margin: 0; padding: 0; line-height: 28px; max-width: 190px; max-height: 54px; } 

#newProject.story .modelo#oracao .mask { background: url('../imgs/story/CultoDeOracao.png'); } 
#newProject.story .modelo#oracao .content { z-index: 1; width: 100%; display: flex; position: absolute; bottom: 120px; left: 0; flex-direction: row-reverse; padding: 0 60px; box-sizing: border-box; } 
#newProject.story .modelo#oracao .row { width: 100%; display: flex; padding: 0; margin-top: 170px; justify-content: space-between; flex-direction: column-reverse; } 
#newProject.story .modelo#oracao .autores { display: flex; flex: 2; width: 100%; padding: 0px; border:none; box-sizing: border-box; text-align: center; } 
#newProject.story .modelo#oracao .autores .nomes { display: flex; border: 2px solid; padding: 0; height: fit-content; width: 100%; align-items: center; justify-content: center; } 
#newProject.story .modelo#oracao .autores p { font-size: 24px; margin: 0; padding: 0; font-weight: 700; width: 100%; } 
#newProject.story .modelo#oracao .data { max-width: 100%; padding: 0; display: flex; flex-direction: column; align-items: center; margin-bottom: 6px; margin-left: 0; padding: 5px 10px; border: 2px solid; width: 100%; } 
#newProject.story .modelo#oracao .data p { font-weight: 600; font-size: 23px; margin: 0; padding: 0; border: none; line-height: 28px; } 
#newProject.story .modelo#oracao footer { left: 0; bottom: 80px; position: absolute; display: flex; flex-direction: column; width: 100%; margin: 0 auto; } 


/* Culto da Vitória */

#newProject .modelo#mulher-vitoriosa .content { position: absolute; left: 0; bottom: 100px; width: 100%; padding: 0 0 0 110px; box-sizing: border-box; } 
#newProject .modelo#mulher-vitoriosa .mask { background: url('../imgs/feed/CultoMulherVitoriosa.png'); background-size: cover; position: absolute; top: 0; left: 0; width: 100%; height: 100%; } 
#newProject .modelo#mulher-vitoriosa { flex-direction: column; padding: 50px 70px; box-sizing: border-box; justify-content: center; position: relative; } 
#newProject .modelo#mulher-vitoriosa .data { margin-right: 105px; max-width: 100%; padding: 0; display: flex; flex-direction: column; align-items: flex-end; margin-bottom: 25px; } 
#newProject .modelo#mulher-vitoriosa .data p { margin: 0; font-weight: 600; font-size: 30px; text-align: right; line-height: 28px; } 
#newProject .modelo#mulher-vitoriosa .data p:first-child { font-size: 44px; font-weight: 600; max-height: 49px; line-height: 49px; } 
#newProject .modelo#mulher-vitoriosa .data p:last-child { font-size: 22px; margin-top: 10px; max-width: 240px; max-height: 34px; } 
#newProject .modelo#mulher-vitoriosa .row { width: 100%; display: flex; padding: 20px 0px; justify-content: space-between; position: absolute; bottom: 55px; } 
#newProject .modelo#mulher-vitoriosa .autores { display: flex; flex: 2; align-items: center; } 
#newProject .modelo#mulher-vitoriosa .autores p { font-size: 23px; margin: 0; padding: 0; font-weight: 700; max-width: 100%; max-height: 24px; line-height: 24px; } 
#newProject .modelo#mulher-vitoriosa .autores .nomes { display: flex; border: 2px solid; padding: 10px 0; height: fit-content; justify-content: center; } 
#newProject .modelo#mulher-vitoriosa .data p { font-weight: 600; font-size: 30px; margin: 0; padding: 0; line-height: 28px; } 
#newProject .modelo#mulher-vitoriosa footer { left: 110px; } 

#newProject.story .modelo#mulher-vitoriosa .mask { background: url('../imgs/story/CultoMulherVitoriosa.png'); } 
#newProject.story .modelo#mulher-vitoriosa .content { position: absolute; left: 0; bottom: 130px; width: 100%; padding: 0 60px; box-sizing: border-box; flex-direction: column; display: flex; } 
#newProject.story .modelo#mulher-vitoriosa .autores { display: flex; flex: 2; align-items: center; width: 100%; border: none; margin-bottom: 5px; } 
#newProject.story .modelo#mulher-vitoriosa .autores .nomes { display: flex; border: 2px solid; padding: 0px 0; height: fit-content; justify-content: center; width: 100%; } 
#newProject.story .modelo#mulher-vitoriosa .autores p { font-size: 20px; margin: 0; line-height: 0; padding: 15px 5px; font-weight: 700; } 
#newProject.story .modelo#mulher-vitoriosa .data { margin-right: 60px; max-width: 100%; padding: 5px; display: flex; flex-direction: row; align-items: center; margin: 0; justify-content: center; top: 50px; right: 0; width: 100%; border: 2px solid; } 
#newProject.story .modelo#mulher-vitoriosa .data p { margin: 0; padding: 0; border: none; line-height: 28px; } 
#newProject.story .modelo#mulher-vitoriosa .data p:first-child { font-size: 25px; font-weight: 600; max-width: 140px; max-height: 36px; display: none; } 
#newProject.story .modelo#mulher-vitoriosa .data p:last-child { font-size: 19px; max-width: 100%; max-height: 30px; } 
#newProject.story .modelo#mulher-vitoriosa footer { left: 53px; position: absolute; bottom: 90px; width: 420px; display: flex; align-items: center; justify-content: center; } 
#newProject.story .modelo#mulher-vitoriosa footer .endereco { text-align: left; display: flex; align-items: flex-start; justify-content: flex-start; } 
#newProject.story .modelo#mulher-vitoriosa footer .endereco p { margin: 0; font-weight: 700; font-size: 21px; line-height: 21px; max-height: 21px; width: 100%; text-align: center; } 
 
/* Culto da Santa Ceia */

#newProject .modelo#santa-ceia .mask { background: url('../imgs/feed/SantaCeia.png'); background-size: cover; position: absolute; top: 0; left: 0; width: 100%; height: 100%; } 
#newProject .modelo#santa-ceia { flex-direction: column; padding: 50px 70px; box-sizing: border-box; justify-content: center; position: relative; } 
#newProject .modelo#santa-ceia .data { width: 100%; padding: 15px; display: flex; flex-direction: column; align-items: center; border: 2px solid white; } 
#newProject .modelo#santa-ceia .data p { margin: 0; font-weight: 600; font-size: 30px; text-align: right; line-height: 28px; } 
#newProject .modelo#santa-ceia footer { position: absolute; bottom: 20px; left: 100px; } 
#newProject .modelo#santa-ceia footer .endereco p { margin: 0; font-weight: 700; font-size: 28px; } 
#newProject .modelo#santa-ceia .row { width: 100%; display: flex; padding: 19px 45px; margin-top: 210px; justify-content: space-between; } 
#newProject .modelo#santa-ceia .data p { font-weight: 600; font-size: 30px; margin: 0; max-height: 38px; line-height: 42px; max-width: 520px; } 

#newProject.story .modelo#santa-ceia .mask { background: url('../imgs/story/SantaCeia.png'); } 
#newProject.story .modelo#santa-ceia .content { display: flex; justify-content: space-between; padding-left: 40px; width: 100%; box-sizing: border-box; align-items: center; margin-bottom: 30px; height: 100%; top: 0; } 
#newProject.story .modelo#santa-ceia .data { display: flex; align-items: center; border: none; position: absolute; bottom: 160px; left: 0; width: 100%; } 
#newProject.story .modelo#santa-ceia .data .nomes { display: flex; border: navajowhite; padding: 0px; height: fit-content; justify-content: center; } 
#newProject.story .modelo#santa-ceia .data p { font-size: 30px; margin: 0; font-weight: 600; max-height: 22px; padding: 10px; line-height: 24px; max-width: 450px; } 
#newProject.story .modelo#santa-ceia footer { flex: 1; position: absolute; bottom: 120px; left: 0; width: 100%; } 
#newProject.story .modelo#santa-ceia footer .endereco { display: flex; flex-wrap: wrap; margin: 0 auto; } 
#newProject.story .modelo#santa-ceia footer .endereco p { margin: 5px; font-weight: 700; font-size: 21px; line-height: 36px; } 


/* #### Culto da Palavra - Oração */

#newProject.story .modelo#oracao .main-col { display: flex; width: 100%; justify-content: space-between; flex-direction: column; align-items: center; } 
#newProject.story .modelo#oracao .main-col:last-child .col { display: flex; flex-direction: row; align-items: center; justify-content: center; } 
#newProject.story .modelo#oracao .main-col .col { position: relative; display: flex; flex-direction: column; align-items: center; } 
#newProject.story .modelo#oracao .main-col:last-child { padding: 0; } 



/* GERAL */
#newProject { transition: .5s ease-in-out; background-position: center; background-size: cover; width: 600px; height: 600px; color: #fff; overflow: hidden!important; } 
#newProject .mask { background-size: contain!important; background-repeat: no-repeat; transition: .5s ease-in-out; width: 100%; } 
#newProject.story #advec-logo { position: relative; } 
#newProject.story .bg2.background-input { display: none!important; } 
#newProject.story footer .endereco p { margin: 5px; font-weight: 700; font-size: 21px; line-height: 36px; max-width: 420px; max-height: 34px; } 
#newProject.feed footer { position: absolute; bottom: 20px; left: 100px; } 
#newProject.feed footer .endereco { display: flex; flex-direction: column; } 
#newProject.feed footer .endereco p { margin: 0; font-weight: 700; font-size: 26px; background: none; color: white; max-width: 430px; max-height: 64px; flex-direction: column; line-height: 28px; display: flex; } 
#newProject.feed footer .endereco p.numero { max-width: 90px; width: 80px; min-width: 50px; max-height: 34px; } 
#newProject.feed footer .endereco .cidade { max-width: 215px; max-height: 34px; } 
#newProject.feed .data p { font-size: 30px; } 